@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	font-family: 'Open Sans', sans-serif;
	background-color: #2e363f;
}
#wrapper{
	min-width: 670px;
}
	#wrapper #header{
		height: 50px;
		display: flex;
		background-color: #1f262d;
	}
		#wrapper #header #head-left{
			display: flex;
			width: 70%;
		}
			#wrapper #header #head-left .thumbnail{
				height: 40px;
   			margin: 5px 3px;
   			padding-left: 10px;
			}
				#wrapper #header #head-left .thumbnail img{
					padding: 1px;
				}
			#wrapper #header #head-left h1{
				font-size: 16px;
				line-height: 50px;
				color: #fff;
			}
		#wrapper #header #head-right{
			display: flex;
			line-height: 50px;
			width: 30%;
		}
			#wrapper #header #head-right p{
				width: 100%;
				text-align: right;
				padding-right: 10px;
				font-size: 14px;
				color: #d0d0d0;
			}
				#wrapper #header #head-right p span{
					margin: 0px 3px;
					font-weight: bold;
					color: #fff;
				}
				#wrapper #header #head-right p a{
					font-size: 12px;
					padding-left: 3px;
					color: #8e8e8e;
					z-index: 1;
				}
				#wrapper #header #head-right p a:hover{
					color: #fff;
					transition: 0.3s;
				}
	#wrapper #main{
		display: flex;
		height: 100%;
		background-color: #eee;
	}
		#wrapper #main #col-left{
			width: 20%;
			background-color: #2e363f;
		}
			/*#wrapper #main #col-left .clear-top{
				height: 40px;
				background-color: #1f262d;
			}*/
			#wrapper #main #col-left ul{
				width: 100%;
			}
				#wrapper #main #col-left ul li{
					font-size: 14px;
					line-height: 40px;
				}
					#wrapper #main #col-left ul li a{
						color: #D6D6D6;
						padding-left: 5%;
						height: 100%;
					   width: 95%;
					   display: inline-block;
					}
					#wrapper #main #col-left ul li a:hover{
						background-color: #1e242b;
					}
					#wrapper #main #col-left ul li ul{
						background-color: #414d5a;
					}
					#wrapper #main #col-left ul li .submenu{
						display: none;
					}
						#wrapper #main #col-left ul li ul li{
							/*padding-left: 3%;*/
						}
		#wrapper #main #col-right{
			width: 80%;
		}
			#wrapper #main #col-right .breadcumbs{
				height: 40px;
				background-color: #f9f9f9;
			}
				#wrapper #main #col-right .breadcumbs p{
					line-height: 40px;
					font-weight: bold;
					font-size: 13px;
					padding-left: 20px;
				}
				#wrapper #main #col-right .breadcumbs p span{
					margin: 0px 10px;
					font-size: 10px;
				}
			#wrapper #main #col-right .table{
				margin: 20px 1% 40px 1%;
				background-color: #f9f9f9;
			}
				#wrapper #main #col-right .table .title{
					background-color: #eee;
				}
					#wrapper #main #col-right .table .title h1{
						font-size: 17px;
					   padding: 5px 0px 2px 15px;
					   line-height: 30px;
					   color: #464646;
					   border: 1px solid #cdcdcd;
					   border-bottom: none;
					   font-weight: bolder;
					}
				#wrapper #main #col-right .table .content {}
					#wrapper #main #col-right .table .content .default-table{
						width: 100%;
						color: #464646;
						border-collapse: collapse;
					}
						#wrapper #main #col-right .table .content .default-table thead{
							text-align: center;
						}
							#wrapper #main #col-right .table .content .default-table thead td{
								line-height: 30px;
								font-weight: 700;
							}
							#wrapper #main #col-right .table .content .default-table tbody td{
								padding-left: 5px;
								line-height: 25px;
							}

							#wrapper #main #col-right .table .content .default-table .functions{
								text-align: center;
							}
						#wrapper #main #col-right .table .content .default-table td{
							border: 1px solid #cdcdcd;
							border-spacing: 0px; 
							font-size: 14px;
						}
	#wrapper #footer{}
		#wrapper #footer h1{
			text-align: center;
   		padding-right: 10px;
   		font-size: 13px;
   		line-height: 30px;
   		color: #a4a5a7;
		}

/*form*/
form {
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    height: auto;
    padding:30px;
    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.5); 
    /*-moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);*/
    /*-webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);*/
    /*box-shadow: 0 0 13px 3px rgba(0,0,0,.5);*/
    overflow: hidden; 
}

textarea{
	  background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll 16px 16px; 
    width: 276px;
    height: 110px;
    border: 1px solid rgba(255,255,255,.6);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:45px;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}

input {
    width: 276px;
    height: 28px;
    border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:black;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}

input[type=submit] {
    cursor:pointer;
}

input.name {
	  background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_name.png) no-repeat scroll 16px 16px; 
	  padding-left:45px;
}

input.email {
	  background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_email.png) no-repeat scroll 16px 20px;
	  padding-left:45px;
}

input.message {
	  background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll 16px 16px;
	  padding-left:45px;
}

::-webkit-input-placeholder {
	  color: #fff;
}

:-moz-placeholder{ 
    color: #fff; 
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {  
	  color: #fff; 
}

input:focus, textarea:focus { 
	  background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
	  overflow: hidden; 
}

.btn {
	  width: 138px;
	  height: 44px;
	  -moz-border-radius: 4px;
	  -webkit-border-radius: 4px;
	  border-radius: 4px;
	  float:right;
    border: 1px solid #253737;
    background: #416b68;
    background: -webkit-gradient(linear, left top, left bottom, from(#6da5a3), to(#416b68));
    background: -webkit-linear-gradient(top, #6da5a3, #416b68);
    background: -moz-linear-gradient(top, #6da5a3, #416b68);
    background: -ms-linear-gradient(top, #6da5a3, #416b68);
    background: -o-linear-gradient(top, #6da5a3, #416b68);
    background-image: -ms-linear-gradient(top, #6da5a3 0%, #416b68 100%);
    padding: 10.5px 21px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #e1e1e1;
}

.btn:hover {
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    background: #416b68;
    background: -webkit-gradient(linear, left top, left bottom, from(#77b2b0), to(#416b68));
    background: -webkit-linear-gradient(top, #77b2b0, #416b68);
    background: -moz-linear-gradient(top, #77b2b0, #416b68);
    background: -ms-linear-gradient(top, #77b2b0, #416b68);
    background: -o-linear-gradient(top, #77b2b0, #416b68);
    background-image: -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%);
    color: #fff;
 }

.btn:active {
    margin-top:1px;
    text-shadow: #333333 0 -1px 0;
    border: 1px solid #253737;
    background: #6da5a3;
    background: -webkit-gradient(linear, left top, left bottom, from(#416b68), to(#416b68));
    background: -webkit-linear-gradient(top, #416b68, #609391);
    background: -moz-linear-gradient(top, #416b68, #6da5a3);
    background: -ms-linear-gradient(top, #416b68, #6da5a3);
    background: -o-linear-gradient(top, #416b68, #6da5a3);
    background-image: -ms-linear-gradient(top, #416b68 0%, #6da5a3 100%);
    color: #fff;
    -webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
   }


>>>>>>> ea295dfb1124b3976d7fd3a9be7c517dade8af62
